* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin-top: 12%;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  padding: 1rem;
  position: relative;
  left: 18%;
  background-color: black;
  height: 300px;
  width: 900px;
}

.white-keys {
  display: flex;
  /* background-color: black; */
  display: flex;
  height: 100%;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
}

.white-key {
  background-color: white;
  border: 3px solid black;
  width: 50px;
  height: 100%;
}

.black-keys {
  position: absolute;
  top: 5.9%;
  left: 13%;
  display: flex;
  /* background-color: grey; */
  display: flex;
  height: 40%;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
}

.black-key {
  width: 50px;
  height: 100%;
  background-color: black;
  border: 1px solid white;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top: none;
}

.empty {
  background-color: transparent;
  border: none;
}
